/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

#titleslideshow
{
	font-family: Georgia, Serif;
	font-size: 40px;
}

body
{	
	background-color: #F3DA64;
}

#image_slideshow.center
{ display: block;
  margin-left: auto;
  margin-right: auto;
}

#caption_slideshow.center
{ text-align: center;
}




#buttons.center
{ 
	display: block;
   	margin-left: auto;
  	margin-right: auto;
  	width: 15em;
}






/**#previous_slideshow{background-color: #FEE202;}
#play_slideshow{background-color: #FEE202;}
#next_slideshow{background-color: #FEE202;}*/



